<style>
    .lines {
        margin-bottom: 30px;
    }
</style>


<style>
    #checkboxCMR .checkbox-black input[type=checkbox][disabled] {
        outline: 2px solid red
    }
</style>

<div>
    {{message}}
</div>
<!--!!!!!!!!!!!!!!!!!!!!!!! -->
<div ng-controller="urlattrController">
    <!-- for file upload download -->

    {{message}}
    <!-- table uploaded files -->
    <div class="container">
        <div class="row align-items-end">
            <div class="col"></div>
            <div class="col-12 col-md-auto">
                <!-- style="border: 1px solid #5bc0de" -->
                <h6 class="text-success">Фото:</h6>
                <table class="table table-responsive table-sm table-bordered">
                    <tr ng-repeat="i in IdProjectData.files">
                        <td>
                            <a ng-href="/download/{{i.filename}}">{{i.originalFileName}} {{i.size/1024/1024|number:2}} Mb</a>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" ng-click="deleteFile(i.filename); deleteItem(IdProjectData.files, i)" ng-disabled="">remove</button>
                        </td>
                    </tr>
                </table>

                <h6 class="text-success">Cloud files:</h6>

                <table class="table table-responsive table-sm table-bordered">
                    <tr ng-repeat="i in ListFilesFromCloud">
                        <td>
                            <a ng-href="/api/download/{{i.filename}}">{{i.filename}}</a>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" ng-click="deleteFileFromCloud(i.filename); deleteItem(ListFilesFromCloud, i)" ng-disabled="">remove</button>
                        </td>
                    </tr>
                </table>

                <!-- upload files -->
                <div ng-controller="fileCtrl">
                    <label class="btn btn-outline-info btn-sm btn-file">Добавить 
          <input multiple="multiple"
                 nv-file-select=""
                 style="display: none"
                 type="file"
                 uploader="uploader" /></label>
                    <ul>
                        <li ng-repeat="item in uploader.queue">
                            <div>{{item.file.name}} {{ item.file.size/1024/1024|number:2 }} Mb {{ item.progress }}</div>
                        </li>
                        <button class="btn btn-primary btn-sm" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" ng-hide="!uploader.queue.length;">Upload all</button>
                        <button class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" ng-hide="!uploader.queue.length">Remove all</button>
                    </ul>
                </div>

                {{spinner}}

                <label class="btn btn-outline-info btn-sm btn-file">Добавить ya drive 
          <input  multiple="multiple"
                 nv-file-select=""
                 style="display: none"
                 type="file"
                 uploader="uploader1C" /></label>
                <ul>
                    <li ng-repeat="item in uploader1C.queue" class="text-muted">
                        <div>{{item.file.name}} {{ item.progress}} %

                            <i ng-hide="!item.progress" class="fa fa-spinner fa-spin" style="font-size:16px"></i>
                        </div>

                    </li>
                    <button class="btn btn-primary btn-sm" ng-click="uploader1C.uploadAll()" ng-hide="!uploader1C.queue.length ||  uploader1C.isUploading">Upload all</button>
                    <button class="btn btn-danger btn-sm" ng-click="uploader1C.clearQueue()" ng-disabled="!uploader1C.queue.length" ng-hide="!uploader1C.queue.length">Remove all</button>
                </ul>




            </div>
            <div class="col col-lg-1"></div>
        </div>
        <!--
              
              
              
                       style="border: 1px solid #5bc0de"  
                       
                       

                        <div ng-controller="loginCtrl">
        <button class="btn btn-primary btn-sm"
                ng-click="getAfterAuth()">get protected route</button>{{respGetAfterAuth}}</div>


                
                       -->
        <div class="row">
            <!--   <div class="col col-sm-1"></div>  -->
            <div class="col">
                <div class="text-primary">PO: {{PONumber1}} 1c: {{one1Number}}</div>
                <table class="table table-responsive table-sm table-bordered">
                    <tr>
                        <td class="text-muted">Отчет для 1с в Excel:</td>
                        <td>
                            <a ng-href="/download/{{i.filename}}">отчет.xlsx</a>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" ng-disabled="">remove</button>
                        </td>
                    </tr>
                </table>

                <div ng-controller="httpCtrl">

                    <label class="custom-control custom-checkbox">
                        <input id="checkboxCMR" type="checkbox" class="custom-control-input"   ng-change="checkboxCMRUpdate(checkboxCMR)"  ng-model="checkboxCMR" ng-checked="CMRStatus">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">СМР выполнены</span>
                      </label>

                    <label class="custom-control custom-checkbox">
                            <input id="checkboxPNR" type="checkbox" class="custom-control-input"   ng-change="checkboxPNRUpdate(checkboxPNR)"  ng-model="checkboxPNR" ng-checked="PNRStatus">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">ПНР выполнены</span>
                          </label>
                </div>

            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>