<style>
    .Absolute-Center {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    .Absolute-Center.is-Responsive {
        width: 50%;
        height: 50%;
        min-width: 200px;
        max-width: 400px;
        padding: 40px;
    }
    
    #logo-container {
        margin: auto;
        margin-bottom: 10px;
        width: 200px;
        height: 30px;
        /* background-image: url('../img/logo.jpg');  dont foget write route in backend */
    }
</style>

<style>
    .vertical-center {
        min-height: 50%;
        /* Fallback for browsers do NOT support vh unit */
        min-height: 50vh;
        /* These two lines are counted as one :-) */
        display: flex;
        align-items: center;
    }
</style>





<div class="form-group" ng-controller="loginCtrl">

    <div class="vertical-center">

        <div class="container">


            <div class="row">
                <div class="Absolute-Center is-Responsive">
                    <div id="logo-container"></div>
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <form name="loginFormMain" ng-submit="login(credentials)">
                            <div class="form-group input-group">
                                <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="credentials.email">
                            </div>
                            <div class="form-group input-group">
                                <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="credentials.password">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Войти</button>
                            </div>
                            <!--
                    <div class="form-group text-center">
                        <a href="#">Forgot Password</a>&nbsp;|&nbsp;<a href="#">Support</a>
                    </div>
                    !-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- vertical-center !-->



</div>
<!--  end controller !-->