
PO.html

<style>
    .lines {
        margin-bottom: 30px;
    }
    
    table,
    th,
    td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    
    table tr:first-child {
        /*  background-color: #f1f1f1;
        font-weight: 900;   */
    }
</style>


<div ng-controller="mainController">{{currentUser.role}}</div>



<div ng-controller="allPOCtrl">

    {{message}}
    <div ng-if="currentUser.role == 'admin'" class="alert alert-danger" ng-hide="!errmsg" role="alert">
        <strong> Error -   </strong> {{errmsg}}</div>


    <div class="container">
        <div class="lines">
            <div class="row">
                <div class="col">


                    <table>
                        <h5>
                            <td>PO</td>
                            <td ng-if="currentUser.role == 'admin'"> Заказ Nokia - ВК</td>
                            <td ng-if="currentUser.role == 'admin'"> Заказ АДВ - Nokia</td>
                            <td ng-if="currentUser.role == 'admin'"> Сумма АДВ с НДС </td>
                            <td ng-if="currentUser.role == 'admin'"> Сумма суб. подряд с НДС </td>

                        </h5>
                        <h5>
                            <tbody ng-repeat="i in getProjectData">
                                <td>

                                    <div class="input-group">

                                        <a class="text-primary" ng-href="#!{{i._id}}">{{i._id}}</a>


                                        <!--  start auth  !-->
                                        <div ng-if="currentUser.role == 'admin'">

                                            <button aria-label="Close" class="close" ng-click="deleteItem(getProjectData, i); deletePO(i._id);  " type="button">
            <span aria-hidden="true">&times;</span>
          </button>

                                        </div>
                                        <!--  end auth  !-->

                                    </div>
                                </td>
                                <td ng-if="currentUser.role == 'admin'">{{i.orderVkNokia}}</td>
                                <td ng-if="currentUser.role == 'admin'">{{i.orderADVNokia}}</td>
                                <td ng-if="currentUser.role == 'admin'">{{i.totalSummADV}}</td>
                                <td ng-if="currentUser.role == 'admin'">{{i.totalSummSub}}</td>







                            </tbody>
                        </h5>

                    </table>



                </div>
            </div>
        </div>
        <div class="lines">
            <div class="row">
                <div class="col-12 col-md-auto">


                    <div ng-if="currentUser.role == 'admin'">

                        <button style="margin: 0px 0px 15px 0px;" class="btn btn-sm btn-outline-danger" type="button" ng-click="setConfirmDeletePO()" ng-hide="hideDeleteButton">Подтвердить удаление проекта</button>


                        <div class="input-group ">
                            <input type="text" ng-model="PO" required class="form-control" placeholder="номер проекта">

                            <span class="input-group-btn">
                             <button class="btn btn-sm btn-outline-primary" type="button" ng-click="postNewPO(PO)">Добавить проект</button>
                        </span>

                        </div>


                    </div>



                </div>

                <div class="col">

                </div>
                <div class="col">

                </div>



            </div>
        </div>
    </div>




</div>
<!-- end ng-controller="httpCtrl" !-->